{%extends "django_registration/layout.html"%}

{% load bootstrap4 %}
{% load static %}
{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
  {% block styles %} 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/basenews.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
  {% endblock %}
</head>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-black w3-animate-left " style="z-index:3;width:250px; " id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <h4 style="color: wheat;"class="w3-center"><b >Truth</b></h4>
  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-blue"><i class="fa fa-home fa-fw w3-margin-right"></i>Home</a>
    <a style="color: wheat;" href="/accounts/register" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sign-in fa-fw w3-margin-right"></i>Register</a> 
  </div>

</nav>
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-lg-3"></div>
    <div class="col-lg-6 mt-4 pt-2 " style="height: 60vh;">
      {% if form.errors %}
        <p style="color: wheat;"> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 style="color: wheat;" class="text-center font-weight-bold">Sign In</h3>
        </div>
        <div class="panel-body">
          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>
            <input type="hidden" name="next" value="{{next}}">
          </form>
        </div>
      </div>
      <small style="color: wheat;">Forgot Password? <a href="/password_reset">Reset Here!</a></small>
    </div>
    </div>
    <!-- empty div -->
    <div class="col-lg-3"></div>
  </div>
</div>
{% endblock %}