

{% block content %}
<body style="background: linear-gradient(black,rgb(18, 18, 49)); margin-left:35%;">
    
<div  class="col">
    <small style="  background: linear-gradient(335deg, #fc00ff , #00dbde);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    display: inline-block;
    margin: 1em 0em 0 1em;
    font-family: Roboto;"><b>Step</b>1</small>
    <h5 style="  font-weight: 300;
    font-family: Roboto;
    color: #eee;
    margin-left: 2.17em;
    max-width: 400px;
    background: linear-gradient(335deg, #E0EAFC , #CFDEF3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;"></h5>
  </div>

  <div  class="col">
    <small style="  background: linear-gradient(335deg, #fc00ff , #00dbde);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    display: inline-block;
    margin: 1em 0em 0 1em;
    font-family: Roboto;"><b>Step</b>2</small>
    <h5 style="  font-weight: 300;
    font-family: Roboto;
    color: #eee;
    margin-left: 2.17em;
    max-width: 400px;
    background: linear-gradient(335deg, #E0EAFC , #CFDEF3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;"></h5>
  </div>
  </body>
  {% endblock %}
