{%extends 'layout.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  {% block content %}
  {% block styles %} 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/basenews.css' %}">
    <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
  {% endblock %}
<section id="sites">
  <div class="container-fluid" style="margin-top: 100px;">
    <div class="mb-2 pb-2 pl-4 pr-2 ml-4 mr-1">
      <h2 style="text-align: center; font-weight:lighter" class=" font-effect-fire display-6 font-weight-light"> Homepage sites</h2>
      <hr>
    </div>
  
    <div class="row pl-2 pr-2 ml-1 mr-1">
      {% for project_item in projects %}
       {% if project_item.projectcategory == 'homepage'%}
        <div class="col-lg-4">
          <div class="card-deck">
            <div class="card mb-2 mt-2">
              <!-- Card image -->
              <div class="view overlay zoom">
                {% if project_item.project_image %}
                <a href="/project/{{project_item.id}}">
                  <img class="card-img-top" src="{{project_item.project_image.url}}" alt="{{ project_item.project_name }}" height="300px">
                </a>
                {% else %}
                <a style="z-index: 10;" href="/project/{{project_item.id}}">
                  <img  class="card-img-top" src="../../static/images/default.png" alt="{{ project_item.project_name }}">
                  <p id="overlay"class="text"> 
                    <button class="btn btn-default btn-circle btn-lg" ><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></button>
                  </p>
                </a>
                {% endif %}
              </div>
              <div class="card-body pr-2 pl-2 pr-2 mr-2">
                <h5 class="card-title ml-4">{{ project_item.project_title }}</h5>
                <div class="row ml-2">
                  <div class="col-lg-6 dark-text"> <small> <span class="mr-1"> From {{project_item.country.name}}</span>  </small> </div>
                  <div class="col-lg-6 dark-text d-flex justify-content-end"> <small> {{project_item.pub_date|date:"d /m/Y"}} </small> </div>
                </div>
              </div>
              <div class="card-footer">
                <small class="text-muted ml-2"><img src="{{ project_item.Author.profile.photo.url }}" alt="" class="rounded-circle img-fluid mr-1" style="width: 30px;">
                BY <b>{{project_item.Author.first_name|upper}}</b> </small>
              </div>
            </div>
          </div>
          <!-- end of card deck  -->
        </div>
        {% endif %}
    {% endfor %}
    </div>
  </div>
  </section>
</body>
</html>
{% endblock %}
