{%extends 'layout.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="overflow: hidden;">
  <div class="head"> 
    <h1 class="font-effect-fire">TRUTHWEB</h1>
    </div>
    <div class="popup">
      <div class="bounce">
        <a class=" searchButton" href="{%url 'new-project'%}"><span>SUBMIT MY SITE NOW!</span></a>
        </div>
       </div>
        
    <p style="margin-left: 500px; margin-top:8%; color: white;   font-family: 'Gambetta', serif; font-weight:100; "><span style="font-size: 20px;">Is your website really that good?</span> <br><span style="font-size: 25px;">Get to know the <span class="font-effect-fire" style="font-variation-settings:'wght' 90;  ">T</span>ruth from top developers globally</span> <br><span style="font-size: 30px;">by submitting your program and get rated based on its<span style="font-size:35px;"> Usability, Design and Content</span></p>
       <a class="expl"href="{%url 'sites'%}" style=" border-radius:110px;box-shadow: 0 0 0 8px rgba(206, 158, 62, 0.1);text-align: center; margin-left:35%;font-weight:lighter;font-size:30px;font-family:Bradley Hand; margin-top: 50%;"><span>Explore Awesome Websites</span></a>
    
      <div class="name">TRUTH<span>web</span> 
      </div>
  
</body>
</html>

<div class="pt-4 mt-4"></div>


{% endblock %}
